<?php

return array(
    'atansgcp' => array(
        /**
         * Google Client id
         */
        'client_id'       => '',
        /**
         * Google client secret
         */
        'client_secret'    => '',
        /**
         * redirect uri
         */
        'redirect_uri' => '',
        /**
         * Google cloud print scope
         */
        'scope' => 'https://www.googleapis.com/auth/cloudprint',
        /**
         * Access token uri
         */
        'access_token_uri' => '',
    ),
);